{{!-- Damage type indicators --}}
{{#if (or data.values.length data.custom)}}
<div class="alt-damage-type-visual">
  {{#each data.values as |d|}}
  <div class="alt-damage-type" data-tooltip="{{localize (lookup (lookup ../damageTypes d) "name")}}">
    {{#if (lookup (lookup ../damageTypes d) "icon")}}
    <i class="{{lookup (lookup ../damageTypes d) "icon"}} icon" style="color: {{lookup (lookup ../damageTypes d) "color"}}"></i>
    {{else}}
    <img class="icon" src="{{lookup (lookup ../damageTypes d) "img"}}" />
    {{/if}}
    {{#if @last}}
    <span class="name">{{#if ../data.custom}}{{../data.custom}}{{else}}{{localize (lookup (lookup ../damageTypes d) "name")}}{{/if}}</span>
    {{/if}}
  </div>
  {{/each}}
  {{#if (and (eq data.values.length 0) data.custom)}}
  <div class="alt-damage-type" data-tooltip="{{data.custom}}">
    <span class="name">{{data.custom}}</span>
  </div>
  {{/if}}
</div>
{{!-- No damage type values --}}
{{else}}
<div class="alt-damage-type-visual empty"{{#if name}} data-name="{{name}}"{{/if}}>
  <span>{{localize "PF1.Undefined"}}</span>
</div>
{{/if}}
