<div class="tab-footer flexcol">
  <div class="flexrow form-group">
    <div class="features-formula">
      <label>{{localize "PF1.BonusFeatFormula"}}</label>
      <input type="text" name="system.details.bonusFeatFormula" value="{{system.details.bonusFeatFormula}}" placeholder="{{localize "PF1.Formula"}}" style="width: 200px; margin-left: 10px" />
    </div>
    <div>
      <label>{{localize "PF1.Feats"}}</label>
      <span style="margin-right: 10px; margin-left: 10px" class="tooltip">
        {{featCount.value}} / {{featCount.total}}
        <span class="tooltipcontent">
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceData.bonusFeats skipLine=true}}
        </span>
      </span>
      {{#if (lt featCount.total featCount.value)}}
        <span style="flex: 0 0 25px" class="tooltip">
          <div class="tooltipcontent">
            {{localize "PF1AS.Features.TooManyFeats"}}
          </div>
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      {{/if}}
    </div>
  </div>
</div>

{{!-- Feat Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="features"}}
  <ul class="filter-list flexrow" data-filter="features">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<section class="feats-body">
  {{#each sections as |section sid|}}
  {{#unless section._hidden}}
    <div class="feats-group flexcol">
      <ol class="item-list sub-scroll scroll-feats">
        <li class="inventory-header flexrow">
          <h3 class="item-name flexrow">{{section.label}}</h3>
          {{#if section.isClass}}
            <input type="checkbox" class="altsheet-minimize-classes-checkbox" data-tooltip="{{localize "PF1AS.Features.MinimizeClasses"}}" data-altsheet-config-path="features.minimizeClasses" {{checked ../altSheet.features.minimizeClasses}} />
            <div class="item-detail item-feat-level"><i class="icon icon-upgrade large" data-tooltip="{{localize "PF1.Level"}}"></i></div>
            {{#if ../owner}}
              <div class="item-controls">
                {{#if section.canCreate}}
                  <a class="item-control item-create" data-tooltip="{{ localize 'PF1.CreateItem' }}" data-type="class">
                    <i class="fas fa-plus"></i>
                  </a>
                {{/if}}
                <a data-action="compendium" data-action-target="classes" data-tooltip="{{localize "PF1.OpenCompendium"}}">
                  <i class="fas fa-folder-plus"></i>
                </a>
              </div>
            {{/if}}
          {{else}}
            <div class="item-detail item-type"><i class="icon icon-magic-palm large" data-tooltip="{{localize "PF1.Type"}}"></i></div>

            {{#if section.hasActions}}
              <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>
              <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="{{localize "PF1.ChargePlural"}}"></i></div>
              <div class="item-detail item-usage"><i class="icon icon-hand large" data-tooltip="{{localize "PF1.Usage"}}"></i></div>
            {{/if}}

            {{#if ../owner}}
              <div class="item-controls">
                {{#if section.canCreate}}
                  <a class="item-control item-create" data-tooltip="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                    <i class="fas fa-plus"></i>
                  </a>
                {{/if}}
                <a data-action="compendium" data-action-target="feats" data-tooltip="{{localize "PF1.OpenCompendium"}}">
                  <i class="fas fa-folder-plus"></i>
                </a>
              </div>
            {{/if}}
          {{/if}}
        </li>

        <ol class="item-list">
          {{#each section.items as |item iid|}}
            {{#if section.isClass}}
              {{#if ../../altSheet.features.minimizeClasses}}
              <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}{{#if item.disabled}} disabled{{/if}}" data-item-id="{{item.id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url({{item.img}})"></div>
                  <h4 class="item-name-text">{{item.name}}</h4>
                </div>
                <div class="item-detail item-feat-level tooltip">
                  <span>Level {{item.level}}</span>
                  <span class="tooltipcontent">
                    <span class="span2">@classes.{{item.tag}}.level :</span><span class="span1"> {{item.level}}</span>
                  </span>
                </div>
                {{#if ../../owner}}
                  <div class="item-controls">
                    {{#if ../../levelUp}}
                      {{#if item.canLevelUp}}
                        {{!-- <a class="item-control level-up" data-item-id="{{item.id}}" data-tooltip="{{localize "PF1.LevelUp.Label"}}"><i class="fas fa-arrow-up"></i></a> --}}
                        <a class="item-control level-up" data-item-id="{{item.id}}" data-tooltip="{{localize "PF1.LevelUp.Label"}}"><i class="fa-solid fa-up-long"></i></a>
                      {{/if}}
                    {{/if}}
                    <a class="item-control item-edit" data-tooltip="{{ localize 'PF1.EditItem' }}"><i class="fas fa-edit"></i></a>
                    {{#unless item.userNonRemovable}}
                      <a class="item-control item-delete" data-tooltip="{{ localize 'PF1.DeleteItem' }}"><i class="fas fa-trash"></i></a>
                    {{/unless}}
                  </div>
                {{/if}}
              </li>
              {{else}}
              <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}} {{#if (isMythicPath item)}}mythic-path{{/if}}" data-item-id="{{item.id}}">
                <div class="item-name flexrow">
                  <div class="item-image class-icon rollable" style="background-image: url('{{item.img}}')"></div>
                  <div class="flexcol">
                    <h2 class="block-header item-name-text" style="margin: 0; font-size: 2rem;">{{item.name}}</h2>
                    <div class="flexrow">
                      <span style="flex: none; margin-right: 10px"><strong>{{ localize 'PF1.HitDieShort' }}:</strong> {{localize "PF1AS.DieLetter"}}{{item.hd}}</span>
                      <span style="flex: none; margin-right: 10px"><strong>{{ localize 'PF1.HPShort' }}:</strong> {{item.hp}} / {{item.hpMax}}</span>
                      <span style="flex: none; margin-right: 10px"><strong>{{ localize 'PF1.SkillsPerLevel' }}:</strong> {{item.skillsPerLevel}}</span>
                      <span style="flex: none; margin-right: 10px"><strong>{{ localize 'PF1.BABAbbr' }}:</strong> {{lookup ../../config.classBAB item.bab}}</span>
                    </div>
                    <h3 class="block-header class-features-toggle" onclick="$('.item-list-class-{{item.id}}').slideToggle(); $('.item-list-h-{{item.id}}').toggle(); $('.item-list-s-{{item.id}}').toggle();">
                      {{ localize 'PF1.ClassFeaturePlural' }}
                      <span class="item-list-s-{{item.id}}" style="margin-left: 4px; opacity: 0.7"><i class="fas fa-angle-double-down"></i></span>
                      <span class="item-list-h-{{item.id}}" style="margin-left: 4px; display: none; opacity: 0.7"><i class="fas fa-angle-double-up"></i></span>
                    </h3>
                  </div>
                </div>
                <div class="flexcol item-feat-level class-level-box tooltip" style="text-align: center">
                  <p style="font-size: 1.2rem;flex: 0; margin: 0">{{#if (isMythicPath item)}}{{localize "PF1.Tier"}}{{else}}{{localize "PF1.Level"}}{{/if}}</p>
                  <p style="font-size: 2rem; ">{{item.level}}</p>
                  <span class="tooltipcontent">
                    <span class="span2">@classes.{{item.tag}}.level :</span><span class="span1"> {{item.level}}</span>
                  </span>
                </div>
                {{#if ../../owner}}
                  <div class="item-controls">
                    {{#if ../../levelUp}}
                      {{#if item.canLevelUp}}
                        {{!-- <a class="item-control level-up" data-item-id="{{item.id}}" data-tooltip="{{localize "PF1.LevelUp.Label"}}"><i class="fas fa-arrow-up"></i></a> --}}
                        <a class="item-control level-up" data-item-id="{{item.id}}" data-tooltip="{{localize "PF1.LevelUp.Label"}}"><i class="fa-solid fa-up-long"></i></a>
                      {{/if}}
                    {{/if}}
                    <a class="item-control item-edit" data-tooltip="{{ localize 'PF1.EditItem' }}"><i class="fas fa-edit"></i></a>
                    {{#unless item.userNonRemovable}}
                      <a class="item-control item-delete" data-tooltip="{{ localize 'PF1.DeleteItem' }}"><i class="fas fa-trash"></i></a>
                    {{/unless}}
                  </div>
                {{/if}}
                <div class="item-class-features" style="border-top: none; border-bottom: 1px solid #c9c7b8;">
                  <ol class="item-list item-list-class-{{item.id}}" style="display: none;">
                    {{#each item.links.classAssociations as |iitem iiid|}}
                      <li class="fake-item flexrow">
                        <div class="item-name flexrow">
                          <div class="item-image" style="background-image: url('{{iitem.img}}')"></div>
                          <a class="compendium-entry" data-compendium-entry="{{iitem.uuid}}">
                            <i class="fas fa-book compendium-icon"></i>
                            <span style="margin-left: 3px;">{{iitem.name}}</span>
                            </a>
                        </div>
                        <div class="item-feat-level">
                          <span>{{iitem.level}}</span>
                        </div>
                      </li>
                    {{else}}
                      <h3 class="sublist-empty">{{ localize 'PF1AS.ClassNoFeatures' }}</h3>
                    {{/each}}
                  </ol>
                </div>
              </li>
              {{/if}}
            {{else}}
              <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}{{#if item.disabled}} disabled{{/if}}" data-item-id="{{item.id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url({{item.img}})"></div>
                  <h4 class="item-name-text">{{item.name}}</h4>
                </div>

                {{#unless section.isClass}}
                <div class="item-detail item-type">
                  <span>{{item.abilityTypeShort}}</span>
                </div>
                {{/unless}}

                {{#if section.hasActions}}
                <div class="item-detail item-actions">
                  <div class="item-attack tooltip">
                    {{#unless item.disabled}}
                    {{#if item.hasAction}}
                    <span class="tooltipcontent">
                      <span class="span3">{{localize "PF1.UseFeat"}}</span>
                    </span>
                    <a class="item-control item-action action roll"><i class="fa-solid fa-dice-d20"></i></a>
                    {{/if}}
                    {{/unless}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                  {{#if item.isCharged}}
                    <span class="text-box value" data-wheel-step="1" data-dtype="Number" />{{item.uses.value}}</span>
                    <span class="sep"> / {{item.uses.max}}</span>
                    <span class="tooltipcontent">
                      <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
                      <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
                    </span>
                  {{/if}}
                </div>
                <div class="item-detail item-usage">
                  <span>{{item.labels.activation}}</span>
                </div>
                {{/if}}

                {{#if ../../owner}}
                  <div class="item-controls">
                    <a class="item-control item-edit" data-tooltip="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-duplicate" data-tooltip="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                    <a class="item-control item-delete" data-tooltip="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                  </div>
                {{/if}}
              </li>
            {{/if}}
          {{else}}
            <li class="fake-item flexrow">
              <h3  class="sublist-empty">{{ localize 'PF1AS.NoFeatures' }}</h3>
            </li>
          {{/each}}
        </ol>
      </ol>
    </div>
  {{/unless}}
  {{/each}}
</section>
