<div class="inventory-filters spellbook-configuration">
  <div class="flexrow spellcasting-misc">
    <a class="hide-show" style="flex-grow: 0.05" data-for="spellbook-info_{{bookId}}">
      <i class="fas fa-cogs"></i>
    </a>

    <div class="spellcasting-concentration flexrow">
      <div class="rollable image-d20"></div>
      <label class="tooltip">
        <h3>{{localize "PF1.Concentration"}} <a class="note-editor small" for="system.attributes.spells.spellbooks.{{bookId}}.concentrationNotes" data-tooltip="{{localize "PF1.ConcentrationNotes"}}"><i class="fas fa-edit"></i></a></h3>
        <span class="tooltipcontent">
          <span class="span2 align-left">@spells.{{bookId}}.concentration.total :</span><span class="span1 align-right"> {{spellbook.orig.concentration.total}}</span>
          {{#with (lookup sourceDetails.system.attributes.spells.spellbooks bookId)}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=concentration.total }}
          {{/with}}
          {{!-- <br/><br/>{{localize "PF1.FromSources"}}:<br/>
          {{localize "PF1AS.CasterLevel"}}: {{spellbook.orig.cl.total}}<br />
          {{localize "PF1.Ability"}}: {{#with (lookup system.abilities spellbook.orig.ability)}}{{mod}}{{/with}}<br /> --}}
          {{#if spellbook.orig.concentrationNotes}}
            <br />{{localize "PF1.Notes"}}:<br />
            {{{replaceNewLines spellbook.orig.concentrationNotes}}}
          {{/if}}
        </span>
      </label>
      <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.concentrationFormula" value="{{spellbook.orig.concentrationFormula}}" placeholder="{{localize "PF1.ConcentrationBonusFormula"}}" />
    </div>

    <div class="spellcasting-cl flexrow">
      <div class="rollable image-d20"></div>
      <label class="tooltip">
        <h3>{{localize "PF1.CasterLevel"}} <a class="note-editor small" for="system.attributes.spells.spellbooks.{{bookId}}.clNotes" data-tooltip="{{localize "PF1.CasterLevelNotes"}}"><i class="fas fa-edit"></i></a></h3>
        <span class="tooltipcontent">
          <span class="span2 align-left">@spells.{{bookId}}.cl.total :</span><span class="span1 align-right"> {{spellbook.orig.cl.total}}</span>
          {{#with (lookup sourceDetails.system.attributes.spells.spellbooks bookId)}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=cl.total }}
          {{/with}}
          {{#if spellbook.orig.clNotes}}
            <br />{{localize "PF1.Notes"}}:<br />
            {{{replaceNewLines spellbook.orig.clNotes}}}
          {{/if}}
        </span>
      </label>
      <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.cl.formula" value="{{spellbook.orig.cl.formula}}" placeholder="{{localize "PF1.CasterLevelBonusFormula"}}" />
    </div>
  </div>

  <div class="hide spellbook-info_{{bookId}} {{#if (lookup hiddenElems (concat "spellbook-info_" bookId))}}hidden{{/if}}">
    <div class="flexrow spellbook-info-box">
      <div class="flexcol">
        <div class="form-group spellcasting-class tooltip">
          <div class="tooltipcontent">
            <span class="span2 align-left">@spells.{{bookId}}.cl.total :</span><span class="span1 align-right"> {{spellbook.orig.cl.total}}</span>
            {{#with (lookup sourceDetails.system.attributes.spells.spellbooks bookId)}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=cl.total }}
            {{/with}}
          </div>
          <label><h3>{{localize "PF1.SpellcastingClass"}}</h3></label>
          <select name="system.attributes.spells.spellbooks.{{bookId}}.class" data-dtype="String">
            {{#select spellbook.orig.class}}
              <option value="">{{localize "PF1.None"}}</option>
              <option value="_hd">{{localize "PF1.HitDie"}}</option>
              {{#each @root.classes as |cls|}}
                <option value="{{cls.tag}}">{{cls.name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="form-group spellcasting-ability">
          <label><h3>{{localize "PF1.SpellcastingAbility"}}</h3></label>
          <select name="system.attributes.spells.spellbooks.{{bookId}}.ability" data-dtype="String">
            {{#select spellbook.orig.ability}}
              <option value="">{{localize "PF1.None"}}</option>
              {{#each @root.system.abilities as |abl a|}}
                <option value="{{a}}">{{abl.label}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="flexrow spell-failure">
          <label><h3>{{localize "PF1.ArcaneSpellFailure"}}</h3></label>
          <span>{{spellFailure}} %</span>
        </div>

        <div class="flexrow formulas">
          <label><h3>{{localize "PF1.BaseDCFormula"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.baseDCFormula"
          value="{{spellbook.orig.baseDCFormula}}" placeholder="{{localize "PF1.BaseDCFormula"}}" />
        </div>

        <div class="flexrow spell-slot-ability-bonus">
          <label><h3>{{localize "PF1.SpellSlotAbilityBonus"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellSlotAbilityBonusFormula" value="{{spellbook.orig.spellSlotAbilityBonusFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>

        <div class="flexrow alt-name">
          <label><h3>{{localize "PF1.SpellbookName"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.name"
            value="{{spellbook.orig.name}}" placeholder="{{#if (and spellbook.orig.class (ne spellbook.orig.class "_hd"))}}
            {{~#with (lookup @root.system.classes spellbook.orig.class)}}{{name}}{{/with}}
            {{~else}}{{localize spellbook.orig.label}}{{/if}}" />
        </div>

        <div class="flexrow domain-slot-value">
          <label><h3>{{localize "PF1.DomainSlotValue"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.domainSlotValue"
            value="{{spellbook.orig.domainSlotValue}}" data-tooltip="{{localize "PF1.DomainSlotValueDesc"}}" placeholder="0" data-dtype="Number" />
        </div>

        {{#if spellbook.orig.spellPoints.useSystem}}
          <div class="flexrow spell-points">
            <h3>{{localize "PF1.SpellPoints"}}</h3>
            <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.maxFormula" value="{{spellbook.orig.spellPoints.maxFormula}}" placeholder="{{localize "PF1.MaxFormula"}}" data-tooltip="{{localize "PF1.MaxFormula"}}"/>
          </div>
          <div class="flexrow spell-points-rest">
            <h3>└ {{localize "PF1.RestoredOnRest"}}</h3>
            <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.restoreFormula" value="{{spellbook.orig.spellPoints.restoreFormula}}" placeholder="{{localize "PF1.SpellPointsMax"}}" data-tooltip="{{localize "PF1.Formula"}}"/>
          </div>
        {{/if}}

        {{#if spellbook.orig.autoSpellLevelCalculation}}
        <div class="help-text">
        <i class="help-icon fas fa-info-circle"></i> {{localize "PF1.AutoSpellClassLevelOffset.InfoBox"}}
        </div>
        <div class="flexrow">
          <label><h3>{{localize "PF1.AutoSpellClassLevelOffset.Formula"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.cl.autoSpellLevelCalculationFormula" value="{{spellbook.orig.cl.autoSpellLevelCalculationFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>
        {{/if}}
      </div>

      <div class="flexcol caster-preferences">
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.arcaneSpellFailure"
          {{checked spellbook.orig.arcaneSpellFailure}}/> {{localize "PF1.ArcaneSpellFailure"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.autoSpellLevelCalculation"
          {{checked spellbook.orig.autoSpellLevelCalculation}}/> {{localize "PF1.AutoCalculateSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.psychic"
          {{checked spellbook.orig.psychic}}/> {{localize "PF1.Psychic"}}
        </label>
        {{#unless spellbook.orig.autoSpellLevelCalculation}}
        {{#unless spellbook.orig.spellPoints.useSystem}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.spontaneous"
          {{checked spellbook.orig.spontaneous}}/> {{localize "PF1.SpellPrepSpontaneous"}}
        </label>
        {{/unless}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.autoSpellLevels"
          {{checked spellbook.orig.autoSpellLevels}}/> {{localize "PF1.AutomaticSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.useSystem"
          {{checked spellbook.orig.spellPoints.useSystem}}/> {{localize "PF1.UseSpellPoints"}}
        </label>
        {{/unless}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.hasCantrips"
          {{checked spellbook.orig.hasCantrips}}/> {{localize "PF1.HasCantrips"}}
        </label>
        {{#if spellbook.orig.autoSpellLevelCalculation}}
        <div class="radios">
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="prepared" {{checked (eq spellbook.orig.spellPreparationMode "prepared")}} />
            {{localize "PF1.SpellPrepPrepared"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="spontaneous" {{checked (eq spellbook.orig.spellPreparationMode "spontaneous")}} />
            {{localize "PF1.SpellPrepSpontaneous"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="hybrid" {{checked (eq spellbook.orig.spellPreparationMode "hybrid")}} />
            {{localize "PF1.Arcanist"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="prestige" {{checked (eq spellbook.orig.spellPreparationMode "prestige")}} />
            {{localize "PF1.RedMantisAssassin"}}
          </label>
        </div>
        {{#unless (or (eq spellbook.orig.spellPreparationMode "hybrid") (eq spellbook.orig.spellPreparationMode "prestige"))}}
        <div class="radios">
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="low" {{checked (eq spellbook.orig.casterType "low")}} />
            {{localize "PF1.Low"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="med" {{checked (eq spellbook.orig.casterType "med")}} />
            {{localize "PF1.Medium"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="high" {{checked (eq spellbook.orig.casterType "high")}} />
            {{localize "PF1.High"}}
          </label>
        </div>
        {{/unless}}
        {{/if}}
      </div>
    </div>
    <div class="flexrow">
      {{#if spellbook.orig.autoSpellLevelCalculation}}
        <div class="flexcol spell-slots-per-level">
          <label><h3>{{localize "PF1.All"}}</h3></label>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.preparedAllOffsetFormula" value="{{spellbook.orig.preparedAllOffsetFormula}}" placeholder="{{localize "PF1.PreparePerDay"}}" />
            {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.castPerDayAllOffsetFormula" value="{{spellbook.orig.castPerDayAllOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
            {{/unless}}
          </div>
        </div>
        {{#if spellbook.orig.hasCantrips}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level0"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell0.preparedOffsetFormula" value="{{spellbook.orig.spells.spell0.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell0.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell0.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level1"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell1.preparedOffsetFormula" value="{{spellbook.orig.spells.spell1.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell1.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell1.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level2"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell2.preparedOffsetFormula" value="{{spellbook.orig.spells.spell2.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell2.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell2.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level3"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell3.preparedOffsetFormula" value="{{spellbook.orig.spells.spell3.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell3.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell3.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level4"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell4.preparedOffsetFormula" value="{{spellbook.orig.spells.spell4.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell4.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell4.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{#if (or (eq spellbook.orig.casterType "med") (eq spellbook.orig.casterType "high"))}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level5"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell5.preparedOffsetFormula" value="{{spellbook.orig.spells.spell5.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell5.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell5.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level6"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell6.preparedOffsetFormula" value="{{spellbook.orig.spells.spell6.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell6.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell6.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
        {{#if (eq spellbook.orig.casterType "high")}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level7"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell7.preparedOffsetFormula" value="{{spellbook.orig.spells.spell7.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell7.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell7.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level8"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell8.preparedOffsetFormula" value="{{spellbook.orig.spells.spell8.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell8.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell8.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level9"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell9.preparedOffsetFormula" value="{{spellbook.orig.spells.spell9.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell9.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell9.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
      {{else}}
        {{#each spellbook.data as |section sid|}}
          <div class="flexcol spell-slots-per-level">
            <label>{{localize (lookup (concat "PF1AS.Level" section.level) "string")}}</label>
            <span class="text-box" data-dtype="Number" name="system.attributes.spells.spellbooks.{{../bookId}}.spells.spell{{section.level}}.base">
            {{#if (hasBaseSpellSlots ../spellbook section.level)}}
              {{section.baseSlots}}
            {{else}}
              -
            {{/if}}
            </span>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>

  <div class="flexrow spell-range">
    <div class="flexrow tooltip">
      <label>{{localize "PF1.DistClose"}}</label>
      <span>{{spellbook.orig.range.close}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
      <div class="tooltipcontent">
        <span class="span2 align-left">@spells.{{bookId}}.range.close :</span><span class="span1 align-right"> {{spellbook.orig.range.close}}</span>
      </div>
    </div>
    <div class="flexrow tooltip">
      <label>{{localize "PF1.DistMedium"}}</label>
      <span>{{spellbook.orig.range.medium}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
      <div class="tooltipcontent">
        <span class="span2 align-left">@spells.{{bookId}}.range.medium :</span><span class="span1 align-right"> {{spellbook.orig.range.medium}}</span>
      </div>
    </div>
    <div class="flexrow tooltip">
      <label>{{localize "PF1.DistLong"}}</label>
      <span>{{spellbook.orig.range.long}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
      <div class="tooltipcontent">
        <span class="span2 align-left">@spells.{{bookId}}.range.long :</span><span class="span1 align-right"> {{spellbook.orig.range.long}}</span>
      </div>
    </div>
  </div>
</div>

{{!-- Inventory Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category=(concat "spells-" bookId)}}

  <ul class="filter-list flexrow" data-filter="spellbook-{{bookId}}">
    {{#each spellbook.data as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

{{#if spellbook.orig.spellPoints.useSystem}}
  <div class="spell-points-current flexrow">
    <div class="filler"></div>
    <h3>{{localize "PF1.SpellPoints"}}</h3>
    <div class="tooltip value">
      <span class="tooltipcontent">
        <span class="span3">{{localize "PF1.SpellPointsCurrent"}}</span>
        <span class="span2 align-left">@spells.{{bookId}}.spellPoints.value :</span><span class="span1 align-right">{{spellbook.orig.spellPoints.value}}</span>
      </span>
      <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.value"
      value="{{spellbook.orig.spellPoints.value}}" placeholder="0" data-dtype="Number" />
    </div>
    <span class="sep"> / </span>
    <div class="tooltip max">
      <span class="tooltipcontent">
        <span class="span3">{{localize "PF1.SpellPointsMax"}}</span>
        <span class="span2 align-left">@spells.{{bookId}}.spellPoints.max :</span><span class="span1 align-right"> {{spellbook.orig.spellPoints.max}}</span>
      </span>
      <input disabled type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.max"
      value="{{spellbook.orig.spellPoints.max}}" placeholder="0" data-dtype="Number" />
    </div>
    <div class="filler"></div>
  </div>
{{/if}}

<section class="spells_{{bookId}}-body">
  {{#each spellbook.data as |section sid|}}
    {{#unless section._hidden}}
      <div class="inventory-group flexcol">
        <ol class="item-list">
          <li class="flexrow inventory-header spellbook-header">
            <div class="item-name flexrow">
              <h3>{{section.name}}</h3>
              {{#unless section.canCast.value }}
              <span style="flex: 0 0 25px" class="tooltip">
                <div class="tooltipcontent">
                  <span class="span3">{{localize "PF1AS.Spells.CannotCast"}}</span>
                  {{#if section.canCast.cannotCastAblScore }}
                    <span class="span3">{{localize "PF1AS.Spells.CannotCastAbilityScore"}}</span>
                  {{/if}}
                </div>
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              {{/unless}}
              <span style="flex: 0 0 25px" class="tooltip">
                <div class="tooltipcontent">
                  <span class="span2 align-left">{{localize "PF1AS.Spells.NeededConcentration"}}</span><span class="span1 align-right">(+{{../spellbook.orig.concentration.total}}):</span>
                  <span class="span2 align-left">{{localize "PF1AS.Spells.Defensive"}}:</span><span class="span1 align-right">{{neededConcentrationDefensive .. section}}</span>
                  <span class="span2 align-left">{{localize "PF1.CondEntangled"}}:</span><span class="span1 align-right">{{neededConcentrationEntangled .. section}}</span>
                  <span class="span2 align-left">{{localize "PF1AS.Spells.VigorousMotion"}}:</span><span class="span1 align-right">{{neededConcentrationVigorousMotion .. section}}</span>
                  <span class="span2 align-left">{{localize "PF1AS.Spells.ViolentMotion"}}:</span><span class="span1 align-right">{{neededConcentrationViolentMotion .. section}}</span>
                  <span class="span2 align-left">{{localize "PF1AS.Spells.ExtremeMotion"}}:</span><span class="span1 align-right">{{neededConcentrationExtremeMotion .. section}}</span>
                  <span class="span2 align-left">{{localize "PF1AS.Spells.ViolentWeather1"}}:</span><span class="span1 align-right">{{neededConcentrationViolentWeather1 .. section}}</span>
                  <span class="span2 align-left">{{localize "PF1AS.Spells.ViolentWeather2"}}:</span><span class="span1 align-right">{{neededConcentrationViolentWeather2 .. section}}</span>
                </div>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </span>
            </div>

            {{#unless ../spellbook.orig.spellPoints.useSystem}}
              <div class="item-detail spell-uses">
                {{#if section.usesSlots}}
                  {{#unless (and (eq section.level 0) ../spellbook.orig.autoSpellLevelCalculation)}}
                  <div class="tooltip spell-slots{{#if ../spellbook.orig.spontaneous}} spontaneous{{/if}}">
                    <span class="{{#unless ../spellbook.orig.spontaneous}}spell-input-readonly{{else}}text-box{{/unless}}" data-dtype="Number" {{#if ../spellbook.orig.spontaneous}}name="system.attributes.spells.spellbooks.{{../bookId}}.spells.spell{{section.level}}.value"{{/if}}>
                      {{section.uses}}
                    </span>
                    <span class="tooltipcontent">
                      <span class="span3">
                        {{#unless ../spellbook.orig.spontaneous}}
                          {{localize "PF1.LeftToPrepare"}}
                        {{else}}
                          {{localize "PF1.CastsLeft"}}
                        {{/unless}}
                      </span>
                    </span>
                  </div>
                  <span class="sep"> / </span>
                  {{/unless}}
                  <div class="tooltip spell-max">
                    <span>{{section.slots}}</span>
                    <span class="tooltipcontent">
                      <span class="span3">{{localize "PF1.SpellsTotalEachDay"}}</span>
                    </span>
                  </div>
                {{else}}
                  <span class="spell-slots">{{{section.uses}}}</span>
                  <span class="sep"> / </span>
                  <span class="spell-max">{{{section.slots}}}</span>
                {{/if}}
              </div>
            {{/unless}}

            <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>

            <div class="item-detail spell-activation"><i class="icon icon-hand large" data-tooltip="{{localize "PF1.Usage"}}"></i></div>

            <div class="item-detail spell-components"><i class="icon icon-expense large" data-tooltip="{{localize "PF1.Components"}}"></i></div>

            <div class="item-detail spell-school"><i class="icon icon-spell-book large" data-tooltip="{{localize "PF1.SpellSchool"}}"></i></div>

            <div class="item-controls">
              {{#if section.canCreate}}
                <a class="item-control item-create" data-tooltip="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                  <i class="fas fa-plus"></i>
                </a>
              {{/if}}
              <a data-action="compendium" data-action-target="spells" data-tooltip="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
            </div>
          </li>

          <ol class="item-list">
            {{#each section.items as |item i|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url({{item.img}})"></div>
                  <h4 class="item-name-text">{{item.name}}</h4>
                </div>

                <div class="item-detail spell-uses flexrow">
                  {{#unless item.atWill}}
                    {{!-- Domain Marker --}}
                    <div>
                      {{#if item.domain}}
                      <i class="fas fa-hand-sparkles" data-tooltip="{{localize "PF1.Domain"}}/{{localize "PF1.School"}}"></i>
                      {{/if}}
                    </div>

                    {{#unless ../../spellbook.orig.spontaneous}}
                      <div class="tooltip">
                        <span class="tooltipcontent">
                          <span class="span3">{{localize "PF1.Prepared"}}</span>
                        </span>
                        <span class="text-box" data-type="amount" data-dtype="Number">{{item.preparation.preparedAmount}}</span>
                      </div>
                      <span class="sep"> / </span>
                      <div class="tooltip">
                        <span class="tooltipcontent">
                          <span class="span3">{{localize "PF1.InitiallyPrepared"}}</span>
                        </span>
                        <span class="text-box" data-type="max" data-dtype="Number">{{item.preparation.maxAmount}}</span>
                      </div>
                    {{else}}
                      <a class="item-control item-toggle-data {{#if item.preparation.spontaneousPrepared}}enabled{{/if}}" data-name="system.preparation.spontaneousPrepared"
                        data-tooltip="{{#if item.preparation.spontaneousPrepared}}{{localize "PF1.Prepared"}}{{else}}{{localize "PF1.Unprepared"}}{{/if}}">
                        <i class="{{#if item.preparation.spontaneousPrepared}}fa-solid{{else}}fa-light{{/if}} fa-circle-check"></i>
                      </a>
                    {{/unless}}
                  {{else}}
                    {{localize "PF1.SpellPrepAtWill"}}
                  {{/unless}}
                </div>

                <div class="item-detail item-actions">
                  <div class="item-action tooltip">
                    {{#if (or ../../spellbook.orig.spontaneous item.atWill)}}
                      <span class="tooltipcontent">
                        <span class="span3">{{localize "PF1.UseSpell"}}</span>
                      </span>
                      <a class="item-control item-action action roll"><i class="fa-solid fa-dice-d20"></i></a>
                    {{else}}
                      {{#if (or (isPositive item.preparation.preparedAmount) (isPositive item.preparation.maxAmount))}}
                        <span class="tooltipcontent">
                          <span class="span3">{{localize "PF1.UseSpell"}}</span>
                        </span>
                        <a class="item-control item-action action roll"><i class="fa-solid fa-dice-d20"></i></a>
                      {{else}}
                        <span class="tooltipcontent">
                          <span class="span3">{{localize "PF1AS.Spells.NoSpellsLeft"}}</span>
                        </span>
                        <span class="icon-spell-no-charges action roll"><i class="fa-solid fa-dice-d20"></i></span>
                      {{/if}}
                    {{/if}} <!-- spontaneous -->
                  </div>
                </div>

                <div class="item-detail spell-activation"><span>{{labels.activation}}</span></div>

                <div class="item-detail spell-components tooltip">
                  {{#if (or materials.value materials.focus)}}
                    <span class="tooltipcontent">
                      {{#if materials.focus}}<span class="span2 align-left">{{localize "PF1.SpellComponentFocus"}}:</span><span class="span1 align-right"> {{materials.focus}}</span>{{/if}}
                      {{#if materials.value}}<span class="span2 align-left">{{localize "PF1.SpellMaterialValue"}}:</span><span class="span1 align-right"> {{materials.value}}</span>{{/if}}
                    </span>
                  {{/if}}
                  <span>{{labels.components}}</span>
                </div>

                <div class="item-detail spell-school tooltip">
                  {{#if (or subschool types labels.damageTypes)}}
                    <span class="tooltipcontent">
                      {{#if subschool}}<span class="span2 align-left">{{localize "PF1.SubSchool"}}:</span><span class="span1 align-right">{{subschool}}</span>{{/if}}
                      {{#if types}}<span class="span2 align-left">{{localize "PF1.TypePlural"}}:</span><span class="span1 align-right">{{types}}</span>{{/if}}
                      {{#if labels.damageTypes}}<span class="span2 align-left">{{localize "PF1.Damage"}}:</span><span class="span1 align-right">{{labels.damageTypes}}</span>{{/if}}
                    </span>
                  {{/if}}
                  <span>{{labels.school}}</span>
                </div>

                {{#if @root.owner}}
                  <div class="item-controls">
                    <a class="item-control item-edit" data-tooltip="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-duplicate" data-tooltip="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                    <a class="item-control item-delete" data-tooltip="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                  </div>
                {{/if}}
              </li>
            {{/each}}
            {{#if section.lowAbilityScore}}
              <h4 class="spell-level-message">{{localize "PF1.SpellScoreTooLow"}}</h4>
            {{/if}}
            {{#if section.spellMessage}}
              <h4 class="spell-level-message">{{section.spellMessage}}</h4>
            {{/if}}
          </ol>
        </ol>
      </div>
    {{/unless}}
  {{/each}}
</section>
