{{!-- Buffs --}}


<div class="flexrow" style="flex-grow: 0;">
  <h2 class="block-header" style="flex: 1;">{{localize "PF1.ConditionPlural"}}</h2>
</div>
<div class="flexrow conditions" style="flex-grow: 0;" data-group="buffs" data-tab="conditions">
  {{#each config.conditions as |value con|}}
    <div class="condition">
      {{#if (lookup ../config.conditionCompendiumEntries con)}}
      <a class="compendium-entry" data-compendium-entry="{{lookup ../config.conditionCompendiumEntries con}}">
        <i class="fas fa-book compendium-icon"></i>
      </a>
      {{else}}
      <a class="compendium-entry-disabled">
        <i class="fas fa-book compendium-icon disabled"></i>
      </a>
      {{/if}}
      <a class="checkbox {{#if (lookup ../system.attributes.conditions con)}}active{{/if}}" name="system.attributes.conditions.{{con}}">
      <img src="{{lookup ../config.conditionTextures con}}">
      <span>{{lookup ../config.conditions con}}</span>
    </a>
    </div>
  {{/each}}
</div>

{{!-- Buff Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="buffs"}}
  <ul class="filter-list flexrow" data-filter="buffs">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<section class="buffs-body">
  {{#each sections as |section sid|}}
    {{#unless section._hidden}}
      <div class="inventory-group flexcol">
        <ol class="item-list" data-type="buff" data-subtype="{{sid}}">
          <li class="item-list-header inventory-header flexrow buffs-{{sid}}">
            <div class="item-name">
              <h3>{{section.label}}</h3>
            </div>

            <div class="item-detail item-duration">
              <span>{{localize "PF1.Duration"}}</span>
            </div>

            <div class="item-detail item-level">
              <span>{{localize "PF1.Level"}}</span>
            </div>

            {{#if section.hasActions}}
            <div class="item-detail item-actions">
              <i class="icon icon-gears large" data-tooltip="PF1.ActionPlural"></i>
            </div>
            {{/if}}

            <div class="item-detail item-active">
              <span>{{localize "PF1.Active"}}</span>
            </div>

            {{#if ../owner}}
            <div class="item-controls">
              <a class="item-control item-create" data-tooltip="PF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
              </a>
              <a data-action="compendium" data-action-target="buffs" data-tooltip="PF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
            </div>
            {{/if}}
          </li>

          {{#each section.items as |item iid|}}
            <li class="item flexrow" data-item-id="{{item.id}}">
              <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url({{item.img}})"></div>
                  <h4 class="item-name-text">{{item.name}}</h4>
              </div>

              <div class="item-detail item-duration">
                <span class="">{{#if item.labels.duration}}{{item.labels.duration}}{{/if}}</span>
              </div>

              <div class="item-detail item-level">
                <span class="text-box" data-dtype="Number">{{#if item.level}}{{item.level}}{{/if}}</span>
              </div>

              {{#if section.hasActions}}
                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="PF1.UseBuff">
                      <i class="fa-solid fa-dice-d20"></i>
                    </a>
                    {{/if}}
                  </div>
                </div>
              {{/if}}

              <div class="item-detail item-active">
                <input type="checkbox" {{checked item.active}}/>
              </div>

              {{#if ../../owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" data-tooltip="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-duplicate" data-tooltip="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                  <a class="item-control item-delete" data-tooltip="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ol>
      </div>
    {{/unless}}
  {{/each}}
</section>
