{{!-- AC --}}
<ul class="attributes armor-class flexrow" style="flex: none">
  <li>
    <h3 class="block-header tooltip">{{localize "PF1.ArmorClass"}}
      {{#if system.attributes.acNotes}}
      <div class="tooltipcontent">
          <span class="span3">{{system.attributes.acNotes}}</span>
      </div>
      {{/if}}
      <a data-tooltip="{{localize "PF1.ACNotes"}}" class="note-editor small" for="system.attributes.acNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
  <li>
    <h3 class="block-header tooltip">{{localize "PF1.SavingThrowPlural"}}
      {{#if system.attributes.saveNotes}}
      <div class="tooltipcontent">
          <span class="span3">{{system.attributes.saveNotes}}</span>
      </div>
      {{/if}}
      <a data-tooltip="{{localize "PF1.SaveNotes"}}"  class="note-editor small" for="system.attributes.saveNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  {{#each system.attributes.ac as |ac id|}}
    <li class="attribute armor-class tooltip" data-armorclass="{{id}}">
      <div class="tooltipcontent">
        <span class="span2 align-left">@attributes.ac.{{id}}.total :</span> <span class="span1 align-right">{{ac.total}}</span>
        <span class="span2 align-left">@armor.type :</span> <span class="span1 align-right">{{../rollData.armor.type}}</span>
        <span class="span2 align-left">@shield.type :</span> <span class="span1 align-right">{{../rollData.shield.type}}</span>

        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=ac.sourceDetails plain=true}}
        {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.ac"}}
      </div>
      <h4 class="attribute-name box-title">{{ac.labelShort}}</h4>
      <div class="attribute-value">
        <span class="large">{{numberFormat ac.total decimals=0 sign=false}}</span>
      </div>
    </li>
  {{/each}}
  {{#each system.attributes.savingThrows as |savingThrow id|}}
    <li class="attribute saving-throw tooltip" data-savingthrow="{{id}}">
      <div class="tooltipcontent">
        <span class="span2 align-left">@attributes.savingThrows.{{id}}.total :</span> <span class="span1 align-right">{{savingThrow.total}}</span>

        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=savingThrow.sourceDetails plain=true}}

        {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "savingThrow." id)}}
      </div>
      <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
      <div class="attribute-value" style="margin-bottom: -8px">
        <span class="large">{{savingThrow.total}}</span>
      </div>
    </li>
  {{/each}}
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.BaseCombatStats"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute initiative tooltip" data-attribute="init">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
        <div class="attribute-value">
          <span class="large">{{system.attributes.init.total}}</span>
        </div>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.init.total :</span><span class="span1 align-right"> {{system.attributes.init.total}}</span>
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.init.total }}

          {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.init"}}
        </div>
      </li>
      <li class="attribute bab tooltip" system-attribute="bab">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
        <div class="attribute-value">
          <span class="large">{{system.attributes.bab.total}}</span>
        </div>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.bab.total :</span><span class="span1 align-right"> {{system.attributes.bab.total}}</span>
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.bab.total }}
        </div>
      </li>
    </ul>
  </div>
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.CombatManeuvers"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute cmd tooltip" data-attribute="cmd">
        <h4 class="attribute-name box-title">{{localize "PF1.CMDAbbr"}} ({{localize "PF1AS.FFShort"}}) <a class="note-editor small" for="system.attributes.cmdNotes" data-tooltip="{{localize "PF1.CMDNotes"}}"><i class="fas fa-edit"></i></a></h4>
        <div class="attribute-value">
          <span class="large">{{system.attributes.cmd.total}} ({{system.attributes.cmd.flatFootedTotal}})</span>
        </div>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.cmd.total :</span> <span class="span1 align-right">{{system.attributes.cmd.total}}</span>
          <span class="span2 align-left">@attributes.cmd.flatFootedTotal :</span> <span class="span1 align-right">{{system.attributes.cmd.flatFootedTotal}}</span>

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.cmd.total }}
          {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.cmd"}}
        </div>
      </li>
      <li class="attribute cmb" data-attribute="cmb">
        <!-- there are no CMB notes -->
        <h4 class="attribute-name box-title"><span class="rollable">{{localize "PF1.CMBAbbr"}}</span>  <!--<a class="note-editor small" for="data.attributes.cmbNotes" data-tooltip="{{localize "PF1.CMBAbbr"}} {{localize "PF1.Notes"}}"><i class="fas fa-edit"></i></a>--></h4>
        <div class="attribute-value tooltip" style="margin-bottom: -8px;">
          <span class="large">{{numberFormat system.attributes.cmb.total decimals=0 sign=true}}</span>
          <span class="tooltipcontent">
            <span class="span2 align-left">@attributes.cmb.total :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.cmb.total sign=true}}</span>
            <span class="span3"><br/></span>
            <span class="span2 align-left">@attributes.cmb.bonus :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.cmb.bonus sign=true}}</span>
            <span class="span2 align-left">+ @attributes.attack.shared :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.attack.shared sign=true}}</span>
            <span class="span2 align-left">+ @attributes.attack.general :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.attack.general sign=true}}</span>

            <span class="span3"></br>{{localize "PF1.FromSources"}} :</span>
            {{#if (ne @root.system.traits.size "med")}}<span class="span2 align-left">{{localize "PF1.Size"}} :</span><span class="span1 align-right"> &nbsp;{{numberFormat (lookup @root.config.sizeSpecialMods @root.system.traits.size) sign=true }}</span>{{/if}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.shared}}

            {{#if system.attributes.cmbAbility}}<span class="span1 align-left">{{lookup @root.config.abilities system.attributes.cmbAbility}} :</span><span class="span1 align-rightspaced">{{abilityMod system.attributes.cmbAbility @root.rollData 1}}</span><span class="span1 align-right"></span>{{/if}}
            
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.general skipLine=true skipLabel=1}}
            
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.cmb.bonus skipLine=true skipLabel=1}}

            {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.cmb"}}
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.AttackBonuses"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute attack melee tooltip" data-attribute="melee">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.Melee"}}</h4>
        <div class="attribute-value">
          {{!-- <span class="large">{{ meleeAttack }}</span> --}}
          <span class="large">{{numberFormat genericAttacks.melee.modifier decimals=0 sign=true}}</span>
        </div>
        <div class="tooltipcontent">
          <span class="span3">…</span>
          <span class="span2 align-left">+ @attributes.attack.shared :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.shared}}</span>
          <span class="span2 align-left">+ @attributes.attack.general :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.general}}</span>
          <span class="span2 align-left">+ @attributes.attack.melee :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.melee}}</span>

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.shared }}
          {{#if genericAttacks.melee.ability}}<span class="span1 align-left">{{lookup @root.config.abilities genericAttacks.melee.ability}} :</span><span class="span1 align-rightspaced"> {{numberFormat genericAttacks.melee.abilityMod decimals=0 sign=true}}</span><span class="span1 align-right"></span>{{/if}}
          {{#if (ne @root.system.traits.size "med")}}<span class="span1 align-left">{{localize "PF1.Size"}} : </span><span class="span1 align-rightspaced">{{lookup @root.config.sizeMods @root.system.traits.size }}</span><span class="span1 align-right"></span>{{/if}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.general skipLine=true skipLabel=1}}

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.melee skipLine=true skipLabel=1}}
        </div>
      </li>
      <li class="attribute attack ranged tooltip" data-attribute="ranged">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.Ranged"}}</h4>
        <div class="attribute-value">
          {{!-- <span class="large">{{ rangedAttack }}</span> --}}
          <span class="large">{{numberFormat genericAttacks.ranged.modifier decimals=0 sign=true}}</span>
        </div>
        <div class="tooltipcontent">
          <span class="span3">…</span>
          <span class="span2 align-left">+ @attributes.attack.shared :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.shared}}</span>
          <span class="span2 align-left">+ @attributes.attack.general :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.general}}</span>
          <span class="span2 align-left">+ @attributes.attack.ranged :</span> <span class="span1 align-right"> &nbsp;{{system.attributes.attack.ranged}}</span>

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.shared }}
          {{#if genericAttacks.ranged.ability}}<span class="span1 align-left">{{lookup @root.config.abilities genericAttacks.ranged.ability}} :</span><span class="span1 align-rightspaced"> {{numberFormat genericAttacks.ranged.abilityMod decimals=0 sign=true}}</span><span class="span1 align-right"></span>{{/if}}
          {{#if (ne @root.system.traits.size "med")}}<span class="span1 align-left">{{localize "PF1.Size"}} :</span> <span class="span1 align-rightspaced"> &nbsp;{{lookup @root.config.sizeMods @root.system.traits.size }}</span><span class="span1 align-right"></span>{{/if}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.general skipLine=true skipLabel=1}}

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.ranged skipLine=true skipLabel=1}}
        </div>
      </li>
    </ul>
  </div>
</ul>

<div class="flexrow conditions" style="flex-grow: 0;"></div>

{{!-- Attack Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="attacks"}}
  <ul class="filter-list flexrow" data-filter="attacks">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<div class="combat-attacks" style="overflow-y: scroll;">
  <section class="attacks-body">
    {{#each sections as |section sid|}}
      {{#unless section._hidden}}
        <div class="inventory-group flexcol">
          <ol class="item-list sub-scroll scroll-attacks">

            <li class="inventory-header flexrow">
              <h3 class="item-name flexrow">{{section.label}}</h3>
              {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" data-tooltip="{{localize "PF1.Type"}}"></i></div>{{/if}}
              <div class="item-detail item-attacks"><label>{{localize "PF1.Attacks"}}</label></div>
              <div class="item-detail item-damage"><label>{{localize "PF1.Damage"}}</label></div>
              <div class="item-detail item-range"><label>{{localize "PF1.Range"}}</label></div>
              <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>
              <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>
              {{#if ../owner}}
              <div class="item-controls">
                {{#if section.canCreate}}
                <a class="item-control item-create" data-tooltip="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                  <i class="fas fa-plus" data-tooltip="{{localize "PF1.Add"}}"></i>
                </a>
                {{/if}}
              </div>
              {{/if}}
            </li>

            <ol class="item-list">
              {{#each section.items as |item iid|}}
                <li class="item flexrow" data-item-id="{{item.id}}">
                  <div class="item-name flexrow rollable">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <h4 class="item-name-text">
                      {{item.name~}}
                      {{#if section.canBreak}}
                          {{#if item.system.broken}}
                            <i class="fa fa-heart-broken"></i>
                          {{/if}}
                      {{/if}}
                    </h4>
                  </div>

                  {{#if section.showTypes}}
                    <div class="item-detail item-type">
                      <span>{{lookup @root.config.attackTypes item.system.attackType}}</span>
                    </div>
                  {{/if}}

                  <div class="item-detail item-attacks tooltip">
                    {{#if item.hasAttack}}
                      <label>{{actionAttacks item.document.firstAction @root.rollData}}</label>
                      <span class="tooltipcontent">
                        <span class="span3">
                          {{#each item.document.attackArray~}}
                            {{numberFormat this decimals=0 sign=true}}{{#unless @last}}/{{/unless}}
                          {{~/each}}
                        </span>
                        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=item.document.attackSources label="PF1.Details"}}
                      </span>
                    {{/if}}
                  </div>

                  <div class="item-detail item-damage tooltip">
                    {{#if item.hasDamage}}
                      <label class="ellipsis">{{actionDamage item.document.firstAction @root.rollData}}</label>
                      <span class="tooltipcontent">
                        <span class="span3">{{actionDamage item.document.firstAction @root.rollData combine=false}}</span>
                        <span class="span3"><br/>{{localize "PF1.Details"}}:</span>
                        {{#with item.document.firstAction}}
                          {{#each data.damage.parts as |pt ix|}}
                            <span class="span1 align-left">{{pt.formula}}</span><span class="span1 align-rightspaced">&nbsp;</span><span class="span1 align-right">{{#if pt.type}} [{{damageTypes pt.type}}]{{/if}}</span>
                          {{/each}}
                          {{#if data.damage.nonCritParts}}
                            {{#each data.damage.nonCritParts as |pt|}}
                              <span class="span1 align-left">{{pt.formula}}</span><span class="span1 align-rightspaced">&nbsp;</span><span class="span1 align-right">{{#if pt.type}} [{{damageTypes pt.type}}]{{/if}}</span>
                            {{/each}}
                          {{/if}}
                          {{#if data.ability.damage}}
                            <span class="span1 align-left">{{abilityMod data.ability.damage @root.rollData data.ability.damageMult}}</span><span class="span1 align-rightspaced">&nbsp;</span><span class="span1 align-right"> [{{lookup @root.config.abilities data.ability.damage}}]</span>
                          {{/if}}
                          {{#each allDamageSources}}
                            {{#if @first}}<span class="span3"><br></span>{{/if}}
                            <span class="span1 align-left">{{flavor}} :</span><span class="span1 align-rightspaced"> {{value}}</span> <span class="span1 align-right"> [{{#if type}}{{type}}{{else}}{{lookup @root.config.bonusModifiers modifier}}{{/if}}]</span>
                          {{/each}}
                          {{#if (optionalConditionals item)}}
                            <span class="span3">+ {{localize "PF1.Conditionals"}}</span>
                          {{/if}}
                          {{#if damage.critParts}}
                            <span class="span3">+ {{localize "PF1.CritDamageBonusFormula"}}</span>
                          {{/if}}
                        {{/with}}
                      </span>
                    {{/if}}
                  </div>

                  <div class="item-detail item-range tooltip">
                    {{#if item.hasRange}}
                      <label>{{actionRange item.document.firstAction @root.rollData}}</label>
                      {{#if (or (gt item.range.maxIncrements 1) (ne item.range.minUnits ""))}}
                        <span class="tooltipcontent">
                          <span class="span3">{{localize "PF1.MaximumRangeIncrements"}} : {{item.range.maxIncrements}}</span>
                          <span class="span2 align-left">{{localize "PF1.Range"}} :</span><span class="span1 align-right">
                          {{item.range.min}} {{distanceUnit "ft"}} – {{item.range.max}} {{distanceUnit item.range.units}}</span>
                        </span>
                      {{/if}}
                    {{/if}}
                  </div>

                  <div class="item-detail item-actions">
                    <div class="item-action">
                      {{#if item.hasAction}}
                      <a class="item-control item-action action roll" data-tooltip="PF1.PerformAttack">
                        <i class="fa-solid fa-dice-d20"></i>
                      </a>
                      {{/if}}
                    </div>
                  </div>

                  <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                    {{#if item.isCharged}}
                      <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.system.uses.value}}</span>
                      <span class="sep"> / </span>
                      <span class="text-box readonly">{{item.uses.max}}</span>
                      <span class="tooltipcontent">
                        <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
                        <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
                      </span>
                    {{/if}}
                  </div>

                  {{#if @root.owner}}
                    <div class="item-controls">
                      <a class="item-control item-edit" data-tooltip="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-duplicate" data-tooltip="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                      <a class="item-control item-delete" data-tooltip="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                    </div>
                  {{/if}}
                </li>
              {{/each}}
            </ol>
          </ol>
        </div>
      {{/unless}}
    {{/each}}
  </section>
</div>
