{{!-- Skills --}}
<ul class="skills-list {{skillGroup}}" data-background="{{isBackgroundSkills}}">
  {{#each skillset as |skill s|}}
    {{#if skill.arbitrary}}
      <li class="skill arbitrary flexrow" data-skill="{{s}}">
        <div class="skill-name">
          {{#if compendiumEntry}}
            <a class="compendium-entry" data-compendium-entry="{{compendiumEntry}}">
              <i class="fas fa-book compendium-icon"></i><h4>{{skill.label}}</h4>
            </a>
          {{else}}
            <i class="compendium-icon"></i><h4>{{skill.label}}</h4>
          {{/if}}
        </div>
        <div class="skill-mod-total flexrow skill-roll" data-skill="{{s}}">
          <div class="rollable image-d20"></div>
          <span class="rollable {{#if (isNegative skill.mod)}}negative{{/if}}">{{numberFormat skill.mod decimals=0 sign=true}}</span>
        </div>
        <div style="flex: 1;"></div>
        <div style="flex: 0 0 40px">
          <a class="skill-control skill-create" style="margin-right: 5px" data-tooltip="{{localize "PF1AS.Skill.AddSkill"}}">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </li>
      {{#each skill.subSkills as |subSkill b|}}
        <li class="sub-skill flexrow" data-skill="{{b}}" data-main-skill="{{s}}">
          <div class="skill-name tooltip {{#if subSkill.untrained}}untrained{{/if}}">
            <span class="tooltipcontent">
              <span class="span2 align-left">@skills.{{s}}.subSkills.{{b}}.mod :</span><span class="span1 align-right"> {{subSkill.mod}}</span>
              <span class="span2 align-left">@skills.{{s}}.subSkills.{{b}}.rank :</span><span class="span1 align-right"> {{subSkill.rank}}</span>

              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=subSkill.sourceDetails }}

              {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "skill." s ".subSkills." b)}}
            </span>
            {{#if subSkill.compendiumEntry}}
              <a class="compendium-entry" data-compendium-entry="{{subSkill.compendiumEntry}}" data-document-type="JournalEntry">
                <i class="fas fa-book compendium-icon"></i><h4>{{subSkill.name}}</h4>
              </a>
            {{else}}
              <i class="compendium-icon"></i><h4>{{subSkill.name}}</h4>
            {{/if}}
          </div>
          {{#if subSkill.masterRank}}
            <div class="skill-master-mod-total flexrow skill-roll" data-skill="{{n}}" data-main-skill="{{s}}">
              <div class="rollable image-d20"></div>
              <span class="rollable {{#if (isNegative subSkill.masterMod)}}negative{{/if}}">{{numberFormat subSkill.masterMod decimals=0 sign=true}}</span>
              <span data-tooltip="{{localize "PF1AS.Links.MasterRankPlural"}}">{{skill.masterRank}}</span>
            </div>
          {{/if}}
          <div class="skill-mod-total flexrow skill-roll" data-skill="{{b}}" data-main-skill="{{s}}">
            <div class="rollable image-d20"></div>
            <span class="rollable {{#if (isNegative subSkill.mod)}}negative{{/if}}">{{numberFormat subSkill.mod decimals=0 sign=true}}</span>
          </div>
          <input type="text" class="skill-rank select-on-click" name="system.skills.{{s}}.subSkills.{{b}}.rank" value="{{#if subSkill.rank}}{{subSkill.rank}}{{/if}}" placeholder="{{localize "PF1.Rank"}}" data-dtype="Number" data-tooltip="{{localize "PF1.SkillRankPlural"}}"/>
          <label class="checkbox skill-cs">
            <abbr data-tooltip="{{localize "PF1.CSTooltip"}}">{{localize "PF1.CS"}}</abbr>
            <input type="checkbox" disabled {{checked subSkill.cs}}/>
          </label>
          <label class="checkbox skill-as">
            <abbr data-tooltip="{{localize "PF1AS.Skill.AlwaysShowTooltip"}}">{{localize "PF1AS.Skill.AlwaysShow"}}</abbr>
            <input type="checkbox" class="altsheet-skill-checkbox" data-altsheet-config-path="skills.{{s}}.subskills.{{b}}.as" {{checked (skillAlwaysShown ../.. s b)}}/>
          </label>
          <div class="skill-controls">
            <a class="skill-control skill-edit" data-tooltip="{{localize "PF1.EditSkill"}}"><i class="fas fa-edit"></i></a>
            <a class="skill-control skill-delete" data-tooltip="Delete Skill"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    {{else}}
      <li class="skill flexrow" data-skill="{{s}}">
        <div class="skill-name tooltip {{#if skill.untrained}}untrained{{/if}}">
          <span class="tooltipcontent">
            <span class="span2 align-left">@skills.{{s}}.mod :</span><span class="span1 align-right"> {{skill.mod}}</span>
            <span class="span2 align-left">@skills.{{s}}.rank :</span><span class="span1 align-right"> {{skill.rank}}</span>

            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=skill.sourceDetails }}

            {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "skill." s)}}
          </span>
          {{#if skill.custom}}
            <i class="compendium-icon"></i><h4>{{skill.name}}</h4>
          {{else}}
            {{#if compendiumEntry}}
              <a class="compendium-entry" data-compendium-entry="{{compendiumEntry}}">
                <i class="fas fa-book compendium-icon"></i><h4>{{skill.label}}</h4>
              </a>
            {{else}}
              <i class="compendium-icon"></i><h4>{{skill.label}}</h4>
            {{/if}}
          {{/if}}
        </div>
        {{#if skill.masterRank}}
          <div class="skill-master-mod-total flexrow skill-roll" data-skill="{{s}}">
            <div class="rollable image-d20"></div>
            <span class="rollable {{#if (isNegative skill.masterMod)}}negative{{/if}}">{{numberFormat skill.masterMod decimals=0 sign=true}}</span>
            <span data-tooltip="{{localize "PF1AS.Links.MasterRankPlural"}}">{{skill.masterRank}}</span>
          </div>
        {{/if}}
        <div class="skill-mod-total flexrow skill-roll" data-skill="{{s}}">
          <div class="rollable image-d20"></div>
          <span class="rollable {{#if (isNegative skill.mod)}}negative{{/if}}">{{numberFormat skill.mod decimals=0 sign=true}}</span>
        </div>
        <input type="text" class="skill-rank select-on-click" name="system.skills.{{s}}.rank" value="{{#if skill.rank}}{{skill.rank}}{{/if}}" placeholder="{{localize "PF1.Rank"}}" data-dtype="Number" data-tooltip="{{localize "PF1.SkillRankPlural"}}"/>
        <label class="checkbox skill-cs">
          <abbr data-tooltip="{{localize "PF1.CSTooltip"}}">{{localize "PF1.CS"}}</abbr>
          <input type="checkbox" disabled {{checked skill.cs}}/>
        </label>
        <label class="checkbox skill-as">
          <abbr data-tooltip="{{localize "PF1AS.Skill.AlwaysShowTooltip"}}">{{localize "PF1AS.Skill.AlwaysShow"}}</abbr>
          <input type="checkbox" class="altsheet-skill-checkbox" data-altsheet-config-path="skills.{{s}}.as" {{checked (skillAlwaysShown .. s undefined)}}/>
        </label>
        <div class="skill-controls">
          {{#if ../owner}}
            <a class="skill-control skill-edit" data-tooltip="{{localize "PF1.EditSkill"}}"><i class="fas fa-edit"></i></a>
            {{#if skill.custom}}
              <a class="skill-control skill-delete" data-tooltip="Delete Skill"><i class="fas fa-trash"></i></a>
            {{/if}}
          {{/if}}
        </div>
      </li>
    {{/if}}
  {{/each}}
  <div class="skill-controls skills">
    {{#if owner}}
      <a class="skill-control skill-create" data-tooltip="{{localize "PF1.AddSkill"}}">
        <i class="fas fa-plus"></i>
      </a>
    {{/if}}
  </div>
</ul>
