<div class="flexrow">
  {{!-- Ability Scores --}}
  <div class="flexcol" style="flex: 0 420px">
    <div class="flexrow">
      <div class="ability-scores-simple flexcol">
        <h4 class="ability-box-name">
          {{ localize "PF1AS.Abilities" }}
        </h4>
        {{#each system.abilities as |ability id|}}
          <div class="ability-simple flexrow ability" data-ability="{{id}}">
            <h4 class="ability-name rollable">{{ability.labelShort}}</h4>
            <div class="flexrow">
              <span class="ability-score tooltip">
                <h4 class="ability-value-text">{{ability.totalLabel}}</h4>
                <span class="tooltipcontent">
                  <span class="span2 align-left">@abilities.{{id}}.total :</span><span class="span1 align-right"> {{ability.total}}</span>
                  <span class="span2 align-left">@abilities.{{id}}.value :</span><span class="span1 align-right"> {{ability.value}}</span>
                  <span class="span2 align-left">@abilities.{{id}}.mod :</span><span class="span1 align-right"> {{ability.mod}}</span>
                  <span class="span2 align-left">@abilities.{{id}}.damage :</span><span class="span1 align-right"> {{ability.damage}}</span>
                  <span class="span2 align-left">@abilities.{{id}}.drain :</span><span class="span1 align-right"> {{ability.drain}}</span>
                  <span class="span2 align-left">@abilities.{{id}}.penalty :</span><span class="span1 align-right"> {{ability.penalty}}</span>
                  <span class="span2 align-left">@abilities.{{id}}.base :</span><span class="span1 align-right"> {{ability.base}}</span>
                  <span class="span2 align-left">@abilities.{{id}}.baseMod :</span><span class="span1 align-right"> {{ability.baseMod}}</span>
                  
                  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=ability.sourceDetails sublabel="PF1.AbilityScore" plain=true}}

                  {{#with (lookup ../sourceDetails.system.abilities id)}}
                  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=mod sublabel="PF1.Modifier"}}
                  {{/with}}

                  {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "abilityChecks." id)}}
                </span>
              </span>
              <h4 class="ability-mod-text {{#if (abilityDamaged this)}}ability-damaged{{/if}}">{{numberFormat ability.mod decimals=0 sign=true}}</h4>
            </div>
          </div>
        {{/each}}
      </div>
      <ul class="attributes nomargin">
        <li>
          <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
        </li>
        <li class="attribute health">
          {{#if healthConfig.variants.pc.useWoundsAndVigor}}
            <h4 class="attribute-name box-title tooltip">
              {{ localize "PF1.Vigor" }}
              <div class="tooltipcontent">
                <span class="span2 align-left">@attributes.vigor.min :</span><span class="span1 align-right"> {{system.attributes.vigor.min}}</span>
                <span class="span2 align-left">@attributes.vigor.value :</span><span class="span1 align-right"> {{system.attributes.vigor.value}}</span>
                <span class="span2 align-left">@attributes.vigor.max :</span><span class="span1 align-right"> {{system.attributes.vigor.max}}</span>
                <span class="span2 align-left">@attributes.vigor.temp :</span><span class="span1 align-right"> {{system.attributes.vigor.temp}}</span>

                {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.vigor.max }}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <input name="system.attributes.vigor.value" type="text" value="{{system.attributes.vigor.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{system.attributes.vigor.max}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="system.attributes.vigor.temp" type="text" class="temphp" placeholder="{{localize 'PF1.Temporary'}}" value="{{#if system.attributes.vigor.temp}}{{system.attributes.vigor.temp}}{{/if}}" data-dtype="Number"/>
            </footer>
        </li>
        <li class="attribute health">
            <h4 class="attribute-name box-title tooltip">
              {{ localize "PF1.Wounds" }}
              <div class="tooltipcontent">
                <span class="span2 align-left">@attributes.wounds.min :</span><span class="span1 align-right"> {{system.attributes.wounds.min}}</span>
                <span class="span2 align-left">@attributes.wounds.value :</span><span class="span1 align-right"> {{system.attributes.wounds.value}}</span>
                <span class="span2 align-left">@attributes.wounds.max :</span><span class="span1 align-right"> {{system.attributes.wounds.max}}</span>

                {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.wounds.max }}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <input name="system.attributes.wounds.value" type="text" value="{{system.attributes.wounds.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{system.attributes.wounds.max}}</div>
            </div>
          {{else}}
            <h4 class="attribute-name box-title tooltip high">
              {{ localize "PF1.Health" }}
              <div class="tooltipcontent">
                <span class="span2 align-left">@attributes.hp.value :</span><span class="span1 align-right"> {{system.attributes.hp.value}}</span>
                <span class="span2 align-left">@attributes.hp.max :</span><span class="span1 align-right"> {{system.attributes.hp.max}}</span>
                <span class="span2 align-left">@attributes.hp.temp :</span><span class="span1 align-right"> {{system.attributes.hp.temp}}</span>
                <span class="span2 align-left">@attributes.hp.nonlethal :</span><span class="span1 align-right"> {{system.attributes.hp.nonlethal}}</span>

                {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.hp.max }}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <span class="text-box direct allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
              <span class="sep"> / </span>
              <div class="attribute">{{system.attributes.hp.max}}</div>
            </div>
            <footer class="attribute-footer multiple">
              <span class="text-box direct allow-relative hp-temp-input" name="system.attributes.hp.temp" data-dtype="Number">{{#if system.attributes.hp.temp}}{{system.attributes.hp.temp}}{{else}}{{localize "PF1.TempShort"}}{{/if}}</span>
              <span class="text-box direct allow-relative hp-nonlethal-input" name="system.attributes.hp.nonlethal" data-dtype="Number">{{#if system.attributes.hp.nonlethal}}{{system.attributes.hp.nonlethal}}{{else}}{{localize "PF1.Nonlethal"}}{{/if}}</span>
            </footer>
          {{/if}}
        </li>

        <li>
          <ul class="attributes armor-class  flexrow">
            <li class="attribute initiative" style="height: 50px" data-attribute="init">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{system.attributes.init.total}}</span>
                <span class="tooltipcontent">
                  <span class="span2 align-left">@attributes.init.total :</span><span class="span1 align-right"> {{system.attributes.init.total}}</span>
                  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.init.total }}

                  {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.init"}}
                </span>
              </div>
            </li>
            <li class="attribute bab" style="height: 50px" data-attribute="bab">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{system.attributes.bab.total}}</span>
                <span class="tooltipcontent">
                  <span class="span2 align-left">@attributes.bab.total :</span><span class="span1 align-right"> {{system.attributes.bab.total}}</span>
                  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.bab.total }}
                </span>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <ul class="attributes armor-class flexrow">
            {{#each system.attributes.ac as |ac id|}}
              <li class="attribute armor-class ac-details tooltip" data-armorclass="{{id}}">
                <div class="tooltipcontent">
                  <span class="span2 align-left">@attributes.ac.{{id}}.total :</span> <span class="span1 align-right">{{ac.total}}</span>
                  <span class="span2 align-left">@armor.type :</span> <span class="span1 align-right">{{../rollData.armor.type}}</span>
                  <span class="span2 align-left">@shield.type :</span> <span class="span1 align-right">{{../rollData.shield.type}}</span>

                  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=ac.sourceDetails plain=true}}
                  {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.ac"}}
                </div>
                <h4 class="attribute-name box-title">{{localize ac.labelShort}}</h4>
                <div class="attribute-value">
                  <span>{{numberFormat ac.total decimals=0 sign=false}}</span>
                </div>
              </li>
            {{/each}}
          </ul>
        </li>

        <li>
          <ul class="attributes saving-throws flexrow">
            {{#each system.attributes.savingThrows as |savingThrow id|}}
              <li class="attribute saving-throw st-details tooltip" data-savingthrow="{{id}}">
                <div class="tooltipcontent">
                  <span class="span2 align-left">@attributes.savingThrows.{{id}}.total :</span> <span class="span1 align-right">{{savingThrow.total}}</span>

                  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=savingThrow.sourceDetails plain=true}}

                  {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "savingThrow." id)}}
                </div>
                <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
                <div class="attribute-value">
                  <span>{{savingThrow.total}}</span>
                </div>
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="details-attack-simple  inventory-group flexcol" data-group="attacks">
      <h4 class="box-name">{{ localize "PF1.QuickActions" }}</h4>
      <ol class="item-list borderless sub-scroll scroll-attacks" style="max-width: 420px">
        <li class="inventory-header flexrow">
          <h3 class="item-name flexrow"></h3>
          <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>
          <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="{{localize "PF1.ChargePlural"}}"></i></div>
        </li>
        <ol class="item-list">
          {{#each quickActions as |i|}}
            <li class="item flexrow" data-item-id="{{i.item.id}}">
              <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('{{i.item.img}}')"></div>
                <h4>
                  {{i.item.name~}}
                </h4>
              </div>

              <div class="item-detail item-actions">
                <div class="item-attack">
                  <a class="item-control item-action action roll"><i class="fa-solid fa-dice-d20"></i></a>
                </div>
              </div>

              <div class="item-detail item-uses flexrow {{#if i.haveAnyCharges }}tooltip{{/if}}">
                {{#if i.haveAnyCharges }}
                  <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{i.charges}}</span>
                  <span class="sep"> / {{i.maxCharge}}</span>
                  <span class="tooltipcontent">
                    <span class="span2 align-left">@resources.{{i.item.system.tag}}.value :</span><span class="span1 align-right"> {{i.item.system.uses.value}}</span>
                    <span class="span2 align-left">@resources.{{i.item.system.tag}}.max :</span><span class="span1 align-right"> {{i.item.system.uses.max}}</span>
                  </span>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ol>
      </ol>
    </div>
  </div>

  <div class="flexcol details-skills-list" data-group="skillsets">
    <h4 class="box-name box-title">
      {{ localize "PF1.Skills" }}
    </h4>
    <ul class="noborder skills-list sub-scroll scroll-skillset" data-background="{{isBackgroundSkills}}">
      {{#each skillsets.known.skills as |skill s|}}
        {{#if skill.arbitrary}}
          {{#each skill.subSkills as |subSkill b|}}
            {{#if (subskillShownInSummary ../.. s b)}}
            <li class="sub-skill flexrow">
              <div class="skill-name tooltip" data-skill="{{b}}" data-main-skill="{{s}}">
                <span class="tooltipcontent">
                  <span class="span2 align-left">@skills.{{s}}.subSkills.{{b}}.mod :</span><span class="span1 align-right"> {{subSkill.mod}}</span>
                  <span class="span2 align-left">@skills.{{s}}.subSkills.{{b}}.rank :</span><span class="span1 align-right"> {{subSkill.rank}}</span>

                  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=subSkill.sourceDetails }}

                  {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "skill." s ".subSkills." b)}}
                </span>
                <div class="rollable image-d20"></div>
                <h4>{{skill.label}} ({{subSkill.name}})
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              </div>
              <h4>{{numberFormat subSkill.mod decimals=0 sign=true}}</h4>
            </li>
            {{/if}}
          {{/each}}
        {{else}}
          <li class="skill flexrow">
            <div class="skill-name tooltip" data-skill="{{s}}">
              <span class="tooltipcontent">
                <span class="span2 align-left">@skills.{{s}}.mod :</span><span class="span1 align-right"> {{skill.mod}}</span>
                <span class="span2 align-left">@skills.{{s}}.rank :</span><span class="span1 align-right"> {{skill.rank}}</span>

                {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=skill.sourceDetails }}

                {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "skill." s)}}
              </span>
              <div class="rollable image-d20"></div>
              {{#if skill.custom}}
                <h4>{{skill.name}}
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              {{else}}
                <h4>{{skill.label}}
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              {{/if}}
            </div>

            <h4>{{numberFormat skill.mod decimals=0 sign=true}}</h4>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>
