<div class="attributes-body" style="overflow-y: scroll;">
  <div class="flexrow">
    <h2 class="block-header" style="flex: 1">{{localize "PF1AS.AbilityScores"}}</h2>
    <button type="button" class="btn point-buy point-buy-button blue-button pointbuy-calculator">{{localize "PF1AS.PointBuy"}}</button>
  </div>
  {{!-- Ability Scores --}}
  <ul class="ability-scores flexrow">
    {{#each system.abilities as |ability id|}}
    <li class="ability" data-ability="{{id}}">
      <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
      <span class="ability-score tooltip">
        {{ability.totalLabel}}
        <span class="tooltipcontent">
          <span class="span2 align-left">@abilities.{{id}}.total :</span><span class="span1 align-right"> {{ability.total}}</span>
          <span class="span2 align-left">@abilities.{{id}}.value :</span><span class="span1 align-right"> {{ability.value}}</span>
          <span class="span2 align-left">@abilities.{{id}}.mod :</span><span class="span1 align-right"> {{ability.mod}}</span>
          <span class="span2 align-left">@abilities.{{id}}.damage :</span><span class="span1 align-right"> {{ability.damage}}</span>
          <span class="span2 align-left">@abilities.{{id}}.drain :</span><span class="span1 align-right"> {{ability.drain}}</span>
          <span class="span2 align-left">@abilities.{{id}}.penalty :</span><span class="span1 align-right"> {{ability.penalty}}</span>
          <span class="span2 align-left">@abilities.{{id}}.base :</span><span class="span1 align-right"> {{ability.base}}</span>
          <span class="span2 align-left">@abilities.{{id}}.baseMod :</span><span class="span1 align-right"> {{ability.baseMod}}</span>
          
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=ability.sourceDetails sublabel="PF1.AbilityScore" plain=true}}

          {{#with (lookup ../sourceDetails.system.abilities id)}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=mod sublabel="PF1.Modifier"}}
          {{/with}}

          {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "abilityChecks." id)}}
        </span>
      </span>
      <div class="ability-modifiers flexrow">
        <span class="ability-mod {{#if (abilityDamaged this)}}ability-damaged{{/if}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        <div class="ability-center"></div>
        <span class="text-box direct ability-base" name="system.abilities.{{id}}.value" data-dtype="String">{{ability.value}}</span>
      </div>
      <div class="ability-footer flexcol">
        <div class="flexrow">
          <input class="ability-damage" name="system.abilities.{{id}}.damage" type="text" data-tooltip="{{localize "PF1.Damage"}}" value="{{ability.damage}}" data-dtype="Number" />
          <input class="ability-penalty" name="system.abilities.{{id}}.userPenalty" type="text" data-tooltip="{{localize "PF1.Penalty"}}" value="{{ability.userPenalty}}" data-dtype="Number" />
          <input class="ability-drain" name="system.abilities.{{id}}.drain" type="text" data-tooltip="{{localize "PF1.Drain"}}" value="{{ability.drain}}" data-dtype="Number" />
        </div>
        <!-- with foundry 0.8.x, null should be correct again in rolldata so we can move the labels back as placeholder="" in the input -->
        <div class="ability-damages flexrow">
          <span>{{localize "PF1.DMG"}}</span>
          <span>{{localize "PF1.PNL"}}</span>
          <span>{{localize "PF1.DRN"}}</span>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <h2 class="block-header">{{localize "PF1AS.SpeedAndMovement"}}</h2>
  <ul class="attributes misc-base flexrow">
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedLand" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if system.attributes.speed.land.total}}
              {{convertDistance system.attributes.speed.land.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
            {{/if}}
          </div>
        </div>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.land.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.land.total}}</span>
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.land.base forceLabel=1 isDistance=true skipLabel=0}}
          
          {{#if sourceDetails.system.attributes.speed.land.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.land.add skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.land.add skipLabel=0 isDistance=true}}
          {{/if}}
          {{#if (isMetric)}}
            <span class="span3"><br /></span>
            <span class="span3">{{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}</span>
          {{/if}}
        </div>
        <footer class="attribute-footer">
          <input style="width: 80%;" name="system.attributes.speed.land.base" type="text" value="{{system.attributes.speed.land.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
          <h4 class="attribute-name box-title">{{ localize "PF1.SpeedClimb" }}</h4>
          <div class="attribute-value">
            <div class="attribute">
              {{#if system.attributes.speed.climb.total}}
                {{convertDistance system.attributes.speed.climb.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
              {{/if}}
            </div>
          </div>
          <div class="tooltipcontent">
            <span class="span2 align-left">@attributes.speed.climb.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.climb.total}}</span>
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.climb.base forceLabel=1 isDistance=true skipLabel=0}}
            
            {{#if sourceDetails.system.attributes.speed.climb.base.length}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.climb.add skipLabel=1 skipLine=true isDistance=true}}
            {{else}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.climb.add skipLabel=0 isDistance=true}}
            {{/if}}
            {{#if (isMetric)}}
              <span class="span3"><br /></span>
              <span class="span3">{{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}</span>
            {{/if}}
          </div>
          <footer class="attribute-footer">
            <input style="width: 80%;" name="system.attributes.speed.climb.base" type="text" value="{{system.attributes.speed.climb.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            <span>ft.</span>
          </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedSwim" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if system.attributes.speed.swim.total}}
              {{convertDistance system.attributes.speed.swim.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
            {{/if}}
          </div>
        </div>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.swim.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.swim.total}}</span>
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.swim.base forceLabel=1 isDistance=true skipLabel=0}}
          
          {{#if sourceDetails.system.attributes.speed.swim.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.swim.add skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.swim.add skipLabel=0 isDistance=true}}
          {{/if}}
          {{#if (isMetric)}}
            <span class="span3"><br /></span>
            <span class="span3">{{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}</span>
          {{/if}}
        </div>
        <footer class="attribute-footer">
          <input style="width: 80%;" name="system.attributes.speed.swim.base" type="text" value="{{system.attributes.speed.swim.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedBurrow" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if system.attributes.speed.burrow.total}}
              {{convertDistance system.attributes.speed.burrow.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
            {{/if}}
          </div>
        </div>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.burrow.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.burrow.total}}</span>
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.burrow.base forceLabel=1 isDistance=true skipLabel=0}}
          
          {{#if sourceDetails.system.attributes.speed.burrow.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.burrow.add skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.burrow.add skipLabel=0 isDistance=true}}
          {{/if}}
          {{#if (isMetric)}}
            <span class="span3"><br /></span>
            <span class="span3">{{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}</span>
          {{/if}}
        </div>
        <footer class="attribute-footer">
          <input style="width: 80%;" name="system.attributes.speed.burrow.base" type="text" value="{{system.attributes.speed.burrow.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedFly" }}</h4>
        <div class="attribute-value">
            <div class="attribute">
              {{#if system.attributes.speed.fly.total}}
                {{convertDistance system.attributes.speed.fly.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
              {{/if}}
            </div>
        </div>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.fly.total :</span><span class="span1 align-right"> {{system.attributes.speed.fly.total}}</span>
          <span class="span2 align-left">@attributes.speed.fly.maneuverability :</span><span class="span1 align-right"> "{{system.attributes.speed.fly.maneuverability}}"</span>
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.fly.base forceLabel=1 isDistance=true skipLabel=0}}
          
          {{#if sourceDetails.system.attributes.speed.fly.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.fly.add skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.fly.add skipLabel=0 isDistance=true}}
          {{/if}}
          {{#if (isMetric)}}
            <span class="span3"><br /></span>
            <span class="span3">{{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}</span>
          {{/if}}
        </div>
        <footer class="attribute-footer">
            <input style="width: 80%;" name="system.attributes.speed.fly.base" type="text" value="{{system.attributes.speed.fly.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed">
        <h4 class="attribute-name box-title">{{ localize "PF1.FlyManeuverabilityShort" }}</h4>
        <div class="attribute-value">
          <div class="attribute">

          </div>
        </div>
        <footer class="attribute-footer">
          <select name="system.attributes.speed.fly.maneuverability">
            {{#select system.attributes.speed.fly.maneuverability}}
              {{#each config.flyManeuverabilities as |name type|}}
                <option value="{{type}}">{{name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </footer>
      </div>
    </li>
  </ul>
  <h2 class="block-header" style="flex: 1">{{localize "PF1AS.SpecialQualities"}}</h2>
  <ul class="attributes misc-base flexrow">
    <li class="attribute size high" data-attribute="size">
      <h4 class="attribute-name box-title">{{localize "PF1.Size"}}</h4>
      <div class="attribute-value">
        <select class="actor-size" name="system.traits.size" style="width: 90%">
          {{#select system.traits.size}}
            {{#each config.actorSizes as |label size|}}
              <option value="{{size}}">{{label}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="attribute-footer">
        <select class="actor-stature" name="system.traits.stature">
          {{#select system.traits.stature}}
            {{#each config.actorStatures as |label key|}}
              <option value="{{key}}">{{label}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </li>
    <li class="attribute nac high tooltip" data-attribute="nac">
      <h4 class="attribute-name box-title">{{localize "PF1AS.NatAC"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{system.ac.natural.total}}</div>
      </div>
      <div class="attribute-footer">
        <input name="system.attributes.naturalAC" type="text" placeholder="{{localize "PF1.Formula"}}" value="{{#if system.attributes.naturalAC}}{{system.attributes.naturalAC}}{{/if}}"/>
      </div>
    </li>
    <li class="attribute sr high tooltip" data-attribute="sr">
      <div class="tooltipcontent">
        <span class="span2 align-left">@attributes.sr.total :</span> <span class="span1 align-right">{{system.attributes.sr.total}}</span>

        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.sr.total }}

        {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.sr"}}
      </div>
      <h4 class="attribute-name box-title">{{localize "PF1AS.SpellRes"}} <a class="note-editor small" for="system.attributes.srNotes" data-tooltip="{{localize "PF1.SpellResistanceNotes"}}"><i class="fas fa-edit"></i></a></h4>
      <div class="attribute-value">
        <div class="attribute">{{system.attributes.sr.total}}</div>
      </div>
      <footer class="attribute-footer">
        <input name="system.attributes.sr.formula" type="text" placeholder="{{localize "PF1.Formula"}}" value="{{#if system.attributes.sr.formula}}{{system.attributes.sr.formula}}{{/if}}"/>
      </footer>
    </li>

    <li class="attribute fh high tooltip" data-attribute="fh">
      <h4 class="attribute-name box-title">{{localize "PF1.FastHealing"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{!--{{data.attributes.naturalACtotal}}--}}</div>
      </div>
      <div class="attribute-footer">
        <input name="system.traits.fastHealing" type="text" placeholder="0" value="{{system.traits.fastHealing}}"/>
      </div>
    </li>

    <li class="attribute reg high tooltip" data-attribute="rerg">
      <h4 class="attribute-name box-title">{{localize "PF1.Regeneration"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{!--{{data.attributes.naturalACtotal}}--}}</div>
      </div>
      <div class="attribute-footer">
        <input name="system.traits.regen" type="text" placeholder="0" value="{{system.traits.regen}}"/>
      </div>
    </li>

    <li class="attribute reg high tooltip" data-attribute="rerg">
      <h4 class="attribute-name box-title">{{localize "PF1.LevelDrain"}}</h4>
      <div class="attribute-value">
        <span>{{#if (isPositive system.attributes.energyDrain)}}{{system.attributes.energyDrain}}{{else}}0{{/if}} {{localize "PF1AS.Levels"}}</span>
      </div>
      <div class="attribute-footer">
        <input class="select-on-click" type="text" name="system.attributes.energyDrain" value="{{system.attributes.energyDrain}}" placeholder="0" data-dtype="Number" />
      </div>
    </li>
  </ul>
  <ul class="attributes misc-base flexrow">
    <li class="attribute acp high-mid tooltip" data-attribute="acp">
      <h4 class="attribute-name box-title">{{localize "PF1.ACP"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{system.attributes.acp.total}}</div>
      </div>
      <span class="tooltipcontent">
        <span class="span2 align-left">@attributes.acp.total :</span><span class="span1 align-right"> {{system.attributes.acp.total}}</span>

        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.total forceLabel=1 forceCheck=system.attributes.acp.total }}
        
        {{#if sourceDetails.system.attributes.acp.total.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.armorBonus sublabel="PF1.EquipTypeArmor"}}
        {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.armorBonus sublabel="PF1.EquipTypeArmor" bypassLabel=true}}
        {{/if}}

        {{#if (or sourceDetails.system.attributes.acp.total.length sourceDetails.system.attributes.acp.armorBonus.length)}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.shieldBonus sublabel="PF1.EquipTypeShield"}}
        {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.shieldBonus sublabel="PF1.EquipTypeShield" bypassLabel=true}}
        {{/if}}
      </span>
    </li>
    <li class="attribute dr high-mid double">
      <h4 class="attribute-name box-title">
        <label for="system.traits.dr.value">{{localize "PF1.DamRed"}}</label>
        <a class="resistance-selector small" for="system.traits.dr" data-options="dr" data-fields="{{localize "PF1.Application.DamageResistanceSelector.DamageAmount"}};{{localize "PF1.Application.DamageResistanceSelector.Bypassed"}};{{localize "PF1.Application.DamageResistanceSelector.CombinationType"}};{{localize "PF1.Application.DamageResistanceSelector.Bypassed"}}" data-dtypes="Number;String;Boolean;String"><i class="fas fa-edit"></i></a>
      </h4>
      <div class="attribute-value high">
        {{!-- <input type="text" name="system.traits.dr.custom" value="{{system.traits.dr.custom}}" placeholder="{{localize "PF1.None"}}"/> --}}
        <ul class="resistance-list">
          {{#each dr as |value key|}}
            <li class="tag {{key}}">{{value}}</li>
          {{else}}
            {{localize "PF1.None"}}
          {{/each}}
        </ul>
      </div>
      <div class="attribute-footer flexrow">
        <div class="tooltip">
          <label for="system.traits.di" style="margin-right: 7px">{{localize "PF1.DamImm"}}</label>
          <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
          <div class="tooltipcontent">
            <ul class="traits-list">
              {{#each system.traits.di.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
              {{else}}
                {{localize "PF1.None"}}
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="tooltip">
          <label for="system.traits.dv" style="margin-right: 7px">{{localize "PF1.DamVuln"}}</label>
          <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
          <div class="tooltipcontent">
            <ul class="traits-list">
              {{#each system.traits.dv.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
              {{else}}
                {{localize "PF1.None"}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="attribute eres high-mid double">
      <h4 class="attribute-name box-title">
        <label for="system.traits.eres.value">{{localize "PF1.EnRes"}}</label>
        <a class="resistance-selector small" for="system.traits.eres"  data-options="eres" data-fields="{{localize "PF1.Application.DamageResistanceSelector.DamageAmount"}};{{localize "PF1.Application.DamageResistanceSelector.Resisted"}};{{localize "PF1.Application.DamageResistanceSelector.CombinationType"}};{{localize "PF1.Application.DamageResistanceSelector.Resisted"}}" data-dtypes="Number;String;Boolean;String"><i class="fas fa-edit"></i></a>
      </h4>
      <div class="attribute-value high">
        {{!-- <input type="text" name="system.traits.eres.custom" value="{{system.traits.eres.custom}}" placeholder="{{localize "PF1.None"}}"/> --}}
        <ul class="resistance-list">
          {{#each eres as |value key|}}
            <li class="tag {{key}}">{{value}}</li>
          {{else}}
            {{localize "PF1.None"}}
          {{/each}}
        </ul>
      </div>
    </li>
  </ul>

  <ul class="attributes misc-base flexrow">
    <li class="attribute maxdex tooltip" data-attribute="maxdex">
      <h4 class="attribute-name box-title">{{localize "PF1.MaxDexShort"}}</h4>
      <div class="attribute-value">
        <span>{{#if system.attributes.maxDexBonus}}{{system.attributes.maxDexBonus}}{{else}}∞{{/if}}</span>
      </div>
      <span class="tooltipcontent">
        <span class="span2 align-left">@attributes.maxDexBonus :</span><span class="span1 align-right"> {{system.attributes.maxDexBonus}}</span>

        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.maxDexBonus forceLabel=1 forceCheck=system.attributes.maxDexBonus}}

        {{#if sourceDetails.system.attributes.maxDexBonus.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.armorBonus sublabel="PF1.EquipTypeArmor"}}
        {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.armorBonus sublabel="PF1.EquipTypeArmor" bypassLabel=true}}
        {{/if}}

        {{#if (or sourceDetails.system.attributes.maxDexBonus.length sourceDetails.system.attributes.mDex.armorBonus.length)}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.shieldBonus sublabel="PF1.EquipTypeShield"}}
        {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.shieldBonus sublabel="PF1.EquipTypeShield" bypassLabel=true}}
        {{/if}}
      </span>
    </li>
    <li class="attribute cres double">
      <h4 class="attribute-name box-title">{{localize "PF1.ConRes"}}</h4>
      <div class="attribute-value">
        <input type="text" name="system.traits.cres" value="{{system.traits.cres}}" placeholder="{{localize "PF1.None"}}"/>
      </div>
      <div class="attribute-footer flexrow">
        <div class="tooltip">
          <label for="system.traits.ci" style="margin-right: 7px">{{localize "PF1.ConImm"}}</label>
          <a class="trait-selector" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
          <div class="tooltipcontent">
            <ul class="traits-list">
              {{#each system.traits.ci.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
              {{else}}
                {{localize "PF1.None"}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="attribute senses double">
      <h4 class="attribute-name box-title"><label for="system.traits.senses">{{localize "PF1.Senses"}}</label> <a class="senses-selector small"><i class="fas fa-edit"></i></a></h4>
      <div class="attribute-value">
        {{#each senses as |v k|}}
          <span class="tag {{k}}">{{v}}</span>
        {{/each}}
      </div>
    </li>
  </ul>

  <ul class="attributes misc-base flexrow">
    <li class="attribute languages higher" data-attribute="languages">
      <h4 class="attribute-name box-title"><label for="system.traits.languages">{{localize "PF1.Languages"}}</label> <a class="trait-selector small" data-options="languages"><i class="fas fa-edit"></i></a></h4>
      <div class="attribute-value scroll high">
        {{#each system.traits.languages.selected as |v k|}}
          <span class="tag {{k}}">{{v}}</span>
        {{/each}}
      </div>
    </li>
    {{#if isCharacter}}
      <li class="attribute weaponprofs higher">
        <h4 class="attribute-name box-title"><label for="system.traits.weaponProf">{{localize "PF1.TraitWeaponProf"}}</label> <a class="trait-selector small" data-options="weaponProficiencies"><i class="fas fa-edit"></i></a></h4>
        <div class="attribute-value scroll high">
          {{#each system.traits.weaponProf.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
          {{/each}}
        </div>
      </li>
      <li class="attribute armorprofs higher">
        <h4 class="attribute-name box-title"><label for="system.traits.armorProf">{{localize "PF1.TraitArmorProf"}}</label> <a class="trait-selector small" data-options="armorProficiencies"><i class="fas fa-edit"></i></a></h4>
        <div class="attribute-value scroll high">
          {{#each system.traits.armorProf.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
          {{/each}}
        </div>
      </li>
    {{/if}}
  </ul>
  <div class="flexrow" style="height: 10px;"></div>
</div>
